<div class="wrapper" style="margin-top: 0.5%;">

    <div class="section profile-content">
        
            <div class="row" style="margin-right: 0;">
                <div class="col-lg-8 col-md-12" style="padding-right: 0px;">
                    <img src="../../assets/img/sumadura/home_1-1-2048x1843.jpg" class="img-responsive" style="width: 100%;" >
                </div>
                <div class="col-lg-4 col-md-12">
                    <div style="align-content: center;align-items: center;flex-wrap: wrap;position: relative;">
                      <div style="text-align: center;">  
                        <h6 class="about_m_text">The Olympus is your turf.
                            YOU MAKE IT SPECIAL.</h6>
                    <p class="about_u_text">When YOU set exceptional standards of perfection that are demanding,

                        We are inspired to go beyond and reach for the skies.</p>
                        <p class="about_u_text">Creating landmarks across the skyline of Bengaluru and Hyderabad, the teams at Sumadhura Infracon Pvt. Ltd are happy to be “homemakers” to more than 5000 families in premier properties across South India. For over 25 years Sumadhura’s Signature of Success is centered around these core values : the ability to deliver luxurious housing projects on- time, across hand-picked locations, at honest prices while ensuring that the quality of construction is impeccable. Our expertise in the acquisition of land, crafty architecture, carefully curated premium brands, tasteful interiors and sales to after sales service has been instrumental in us earning a reputation of being forerunners in real estate development.</p>
                        <button class="btn btn-outline-danger btn-round" (click)="open()">Download Broucher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </div>   