<div class="wrapper" style="margin-top: 0.5%;">

    <div class="section profile-content">
        
            <div class="row" style="margin-right: 0;">
                <div class="col-lg-6 col-md-12" style="padding-right: 0px;">
                    <h6 style="text-align: center;font-size: large;">Gallery</h6>
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/home_1-1-2048x1843.jpg" alt="olympus-layout-1" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/Home_V3.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/sabtr1.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/sabtr2.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/ll1.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/CLH3-1.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h6 style="text-align: center;font-size: large;">Floor Plan</h6>
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/The_Olympus_Block_A-scaled.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/FLAT-NO.1.jpg" alt="olympus-layout-2" style="height: 600px;">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/FLAT-NO.2-_-5.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/FLAT-NO.3-_-4.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/FLAT-NO.6.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="../../assets/img/sumadura/FLAT-NO.789.jpg" alt="olympus-layout-2" style="height: 600px;">
                                
                            </ng-template>
                            
                        </ngb-carousel>
                    </div>
            </div>
            <button class="btn btn-outline-danger btn-round ght"   (click)="open()">Call Now</button>
        </div>
    </div>

 </div>   