<div class="wrapper" style="margin-top: 0.5%;">

    <div class="section profile-content">
        
            <div class="row" style="margin-right: 0;">
                <div class="col-lg-6 col-md-12" style="padding-right: 0px;">
                    <h6 style="text-align: center;font-size: large;">Location</h6>
                    <div class="card page-carousel">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15227.343445074477!2d78.349695!3d17.419663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc3c38e427f278c1!2sThe%20Olympus%20by%20Sumadhura%20Vasavi!5e0!3m2!1sen!2sus!4v1631931786601!5m2!1sen!2sus" width="100%" height="580" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h6 style="text-align: center;font-size: large;">Specification</h6>
                    <div class="card page-carousel">
                        <img src="../../assets/img/sumadura/Specifications-Pages-Open-file-01-1.jpg">
                    </div>
            </div>
            <button class="btn btn-outline-danger btn-round ght"   (click)="open()">Call Now</button>
        </div>
    </div>

 </div> 