<div class="wrapper" style="padding-top:70px;">

    <div class="section profile-content">
        
            <div class="row" style="margin-right: 0;">
                <div class="col-lg-5 col-md-12" style="padding-right: 0px;">
                    <img src="../../assets/img/sumadura/STABR.jpg" class="img-responsive" style="max-width: 100%;" >
                </div>
                <div class="col-lg-7 col-md-12">
                    <div style="align-content: center;align-items: center;flex-wrap: wrap;position: relative;">
                      <div style="text-align: center;">  
                        <h6 class="about_m_text">STAND TALL ABOVE THE REST</h6>
                        <p class="about_u_text">One of Hyderabad’s tallest towers in the making at the city’s most happening locale, “Financial District, Nanakramguda”. The 44-storey twin towers are ultra-luxe apartments designed by the finest architects along the sleek lines & minimalist sophistication. Subtle yet sparkling, they are enchanting from the outside, and magnificently crafted on inside, are comparable in design to the best in the world.</p>
                        <div  class="simage">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/sumadura/sabtr1.jpg" alt="olympus-1" >
                                    
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/sumadura/sabtr2.jpg" alt="olympus-2" >
                                    
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../../assets/img/sumadura/sabtr3.jpg" alt="olympus-3" >
                                    
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                        <button class="btn btn-outline-danger btn-round" (click)="open()">Download Broucher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </div>   