<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <img src="https://www.urbanrise.in/assets/uploads/5f9d4e985c426_1604144792.png" class="angular-logo" style="max-width: 100%;width: 60%;margin-top: 0%;margin-bottom: 0%;" />
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/about" routerLinkActive="active" >
                        Home
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/Pricing" routerLinkActive="active">
                        About
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/amenities" routerLinkActive="active">
                        Properties
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/gallery" routerLinkActive="active"> 
                        Contact us 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
